@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* Primary palette */
  --color-primary: #4d5d53;
  --color-primary-100: #dbdfdd;
  --color-primary-200: #b8beba;
  --color-primary-300: #949e98;
  --color-primary-400: #717d75;
  --color-primary-500: #4d5d53;
  --color-primary-600: #3e4a42;
  --color-primary-700: #2e3832;
  --color-primary-750: #272f2a;
  --color-primary-800: #1f2521;
  --color-primary-900: #191f1b;

  /* Secondary palette */
  --color-secondary: #d9d9c8;
  --color-secondary-100: #f2f2ed;
  --color-secondary-200: #f0f0e9;
  --color-secondary-300: #e8e8de;
  --color-secondary-400: #e1e1d3;
  --color-secondary-500: #d9d9c8;
  --color-secondary-600: #aeaea0;
  --color-secondary-700: #828278;
  --color-secondary-800: #575750;
  --color-secondary-900: #2b2b28;
}

@layer base {
  body {
    font-family: "Onest", sans-serif;
    background-color: var(--color-secondary-100);
    color: var(--color-primary-900);
  }
  h1 {
    @apply text-2xl leading-tight text-primary-700 sm:text-xl;
  }

  h2 {
    @apply text-xl leading-tight text-primary-700 sm:text-xl;
  }
}

@layer utilities {
  header.scrolled {
    @apply bg-secondary-100/93 py-2 shadow-xl/5;
  }

  .logo-text {
    font-family: "Playfair Display", serif;
  }

  .text-4xl {
    font-size: 2.25rem;
  }

  .text-3xl {
    font-size: 1.875rem;
  }

  .text-xl {
    font-size: 1.25rem;
  }

  .text-input {
    @apply rounded-sm border border-primary-800/30 bg-white/50 p-1.5 shadow-sm/5 transition-all focus:p-2;
  }
}
